<header class="page-header">
    <h1>Burger Devourer!</h1>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Burgers not yet devoured:</h2>

            <ol class="burgerList">
                {{#each burgers}}
                {{#unless devoured}}

                {{> burgers/burger-block devour=true}}
                <button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">Devour it!
                </button>
                <br>
                <br>
                {{/unless}}
                {{/each}}
            </ol>
        </div>

        <div>
            <div class="col-md-4" id="addburger">
                <h2>Add a Burger/Sandwich</h2>
                <form class="create-form">

                    <div class="form-group">
                        <label for="ca">Burger Name:</label>
                        <input type="text" id="ca" name="name">
                    </div>
                    <button type="submit">Add Burger</button>
                </form>
            </div>

            <div class="col-md-4">
                <h2>Burgers devoured:</h2>
                <div>
                    <ol class="burgerList">
                        {{#each burgers}}
                        {{#if devoured}}
                        {{> burgers/burger-block devour=false}}
                        {{/if}}
                        {{/each}}
                    </ol>
                </div>
            </div>
        </div>