header.page-header {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: black;
  display: flex;
  height: 120px;
  min-width: 120px;
 text-indent:45rem;
  color: #fff;
  text-shadow: rgb(121, 11, 11) 0 0 .2em;
 font-weight: bolder;
 align-content: center;
}

.container {
background-color: bisque;
  align-content: center

}
body {
  background-image: url(../img/burger.png);
}
li {
 font-size: 1.75rem;
}

.burgerList {
 font-family: 'Times New Roman', Times, serif;
}